@import "variables";
@import "buttons";
@import "typography";

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: $karla;
	text-align: center;
	background-color: $sky-blue;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

a {
	@include link;
}

header {
	background: url("../img/flappy-background_sm.png");
	@include background;
	height: 100vh;
	text-align: center;
	@media screen and #{$tablet} {
        background: url("../img/flappy-background_md.png");
    }
    @media screen and #{$desktop} {
        background: url("../img/flappy-background_lg.png");
    }
}

.flappy-icon {
	width: 30%;
	margin-top: 2rem;
	@media screen and #{$tablet} {
		width: 20%;
		margin-top: 3rem;
	}
	@media screen and #{$desktop} {
		width: 15%;
		margin-top: 1.25rem;
	}
}

.flappy-logo {
	width: 70%;
	@media screen and #{$tablet} {
		width: 60%;
	}
	@media screen and #{$desktop} {
		width: 50%;
	}
}

.by-line {
	padding: 1rem;
	font-weight: bolder;
	font-style: italic;
	color: $flappy-white;
	@media screen and #{$tablet} {
		font-size: 1.5rem;
	}
}

.learn-more {
	font-size: 1.25rem;
	color: $flappy-purple;
	font-weight: bold;
}

/*===================================
FEATURES STYLES
===================================*/

.features-title {
	font-size: 1.5rem;
	color: $flappy-orange;
	font-weight: bolder;
	padding: 2rem;
	@media screen and #{$tablet} {
		font-size: 2.5rem;
	}
}

.features-items {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.features-items li {
	list-style: none;
	padding: 2rem;
	@media screen and #{$tablet} {
		display: inline-block;
		width: 30%;
		vertical-align: top;
	}
}

.small-flappy-icon {
	width: 50%;
	@media screen and #{$tablet} {
		width: 70%;
	}
	@media screen and #{$desktop} {
		width: 80%;
	}
}

.features {
	background-color: $flappy-yellow;
}

.sub-title {
	font-size: 1.5rem;
	color: $flappy-purple;
	font-style: italic;
	font-weight: bolder;
}

.sub-description {
	color: #313131;
}

/*===================================
FOOTER STYLES
===================================*/

footer {
	background-color: $flappy-purple;
	color: $flappy-white;
	padding: 1rem;
}

.social-icons {
	margin: 0;
	padding: 0;
}

.social-icons li {
	color: $flappy-yellow;
	font-size: 3rem;
	list-style: none;
	display: inline-block;
	padding: 1rem;
}

.social-icons li:hover {
	color: $flappy-orange;
}

.copy {
	font-size: 0.75rem;
	padding: 2rem 2rem;
	@media screen and #{$tablet} {
		font-size: 1rem;
	}
}



